// Web.config长这样：
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, HEAD, OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Headers" value="accept, X-Requested-With, origin, content-type" />
		<add name="Access-Control-Allow-Origin" value="*" />
        <!--<add name="Access-Control-Allow-Headers" value="Accept, X-Access-Token, X-Application-Name,X-Request-Sent-Time" />-->
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    <staticContent>
      <remove fileExtension=".ts" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".assetbundle" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".unity3d" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".memgz" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".datagz" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".unity3dgz" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".jsgz" mimeType="application/x-javascript; charset=UTF-8" />
      <!--<mimeMap fileExtension=".mp4" mimeType="application/octet-stream" />-->
      <mimeMap fileExtension=".do" mimeType="do-application/octet-stream" />
      <mimeMap fileExtension=".unityweb" mimeType="application/binary" />
      <mimeMap fileExtension=".xml" mimeType="text/xml" />
      <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL" />
      <mimeMap fileExtension=".ts" mimeType="video/MP2T" />
      <mimeMap fileExtension=".ab" mimeType="application/octet-stream" />
      <!--<mimeMap fileExtension=".json" mimeType="application/json" />-->
    </staticContent>
    <!--<validation validateIntegratedModeConfiguration="false" />-->
    <!--<httpProtocol>
            <customHeaders>
              <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>-->
  </system.webServer>

  <system.web>
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" />
    <pages validateRequest="false" />
  </system.web>

</configuration>
